* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
}
p,
h2 {
  text-align: center;
}
html,
body {
  height: 100%;
}
body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  padding: 30px;
  width: 380px;
  gap: 24px;
  border-radius: 12px;
}
.basic-information {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.user-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-links li a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: bold;
  transition: all 400ms ease-in-out;
}
.user-links li a:hover {
  color: hsl(0, 0%, 20%);
  background-color: hsl(75, 94%, 57%);
}

.user .name {
  font-size: 24px;
  margin-bottom: 10px;
}
.user .ubication {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
